---
title: "/{{ page.fileSlug }}/"
permalink: "notes/{{ page.fileSlug | slugify }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.fileSlug }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    {%include "components/notegrowthhistory.njk"%}

    <div class="content">
      {% if dgHomeLink !== false%}
        <a href="/">🏡 Back Home</a>
      {% endif %}
      {{ content | link | highlight | safe}}

      {% if dgShowBacklinks === true or dgShowLocalGraph === true%}
        {%include "components/sidebar.njk"%}
      {% endif %}
    </div>
  </body>
</html>
