---
title: "/{{ page.fileSlug }}/"
permalink: "notes/{{ page.fileSlug | slugify }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.fileSlug }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view markdown-rendered">
    {%include "components/notegrowthhistory.njk"%}

    <div class="content">
      {% if settings.dgHomeLink !== false%}
        <a href="/">🏡 Back Home</a>
      {% endif %}
      {# Dra dette opp i en egen greie for hver setting. Definer disse settingene i en klasse og lag en settings.js lik meta.js. Gå gjennom hver key og kjør denne logikken for å sette den.  #}
      {% if settings.dgShowInlineTitle === true %}
        <h1>{{ page.fileSlug }}</h1>
      {% endif %}
      {{ content | link | highlight | safe}}

      {% if settings.dgShowBacklinks === true or settings.dgShowLocalGraph === true%}
        {%include "components/sidebar.njk"%}
      {% endif %}
    </div>
  </body>
</html>
