<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ item.title }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body>
    <div class="content">
        {{ item.content | safe}}
      </div>
    </body>
  </html>