<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ item.title }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body>
    <div class="content">
      {%- if item.tags !== 'Garden' -%}
        <a href="/">🏡 Back Home</a>
        {%endif%}
        {{ item.content | safe}}
      </div>
    </body>
  </html>