<nav class="navbar">
    <div class="navbar-inner">
        <i style="font-size: 1.5rem; margin-right: 10px;" @click="showFilesMobile=!showFilesMobile" class="fa fa-bars"></i>
        <a href="/" style="text-decoration: none;">
            <h1>{{meta.siteName}}</h1>
        </a>
    </div>
    
    {% if settings.dgEnableSearch === true%}
        {% include "components/searchButton.njk" %}
    {%endif%}
</nav>