<script>
    const getCssVar = (variable) => getComputedStyle(document.body).getPropertyValue(variable);

    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    window.graphData = null;
    window.maxGraphDepth = 1;

    function getNextLevelNeighbours(existing, remaining) {
        const keys = Object.values(existing).map((n) => n.neighbors).flat();
        const n_remaining = Object.keys(remaining).reduce((acc, key) => {
                if (keys.indexOf(key) != -1) {
                    existing[key] = remaining[key];
                } else {
                    acc[key] = remaining[key];
                }
                return acc;
            }, {});
        return existing, n_remaining;
    }

    function filterToDepth(data) {
        let remaining = JSON.parse(JSON.stringify(data.nodes));
        let currentLink = window.location.pathname;
        let currentNode = remaining[currentLink] || Object.values(remaining).find((v) => v.home);
        delete remaining[currentNode.url];
        if (!currentNode.home) {
            let home = Object.values(remaining).find((v) => v.home);
            delete remaining[home.url];
        }
        let existing = {};
        existing[currentNode.url] = currentNode;
        for (let i = 0; i < window.maxGraphDepth; i++) {
            existing, remaining = getNextLevelNeighbours(existing, remaining);
        }
        nodes = Object.values(existing);
        if (!currentNode.home) {
            nodes = nodes.filter(n => !n.home);
        }
        let ids = nodes.map((n) => n.id);
        let graphData = {
            nodes,
            links: data.links.filter((con) => ids.indexOf(con.target) > -1 && ids.indexOf(con.source) > -1),
        }
        return graphData;
    }

    var Graph;

    function renderGraph(graphData, id, width, height, delay) {
        let Graph = ForceGraph()
        (document.getElementById(id))
            .graphData(graphData)
            .nodeId('id')
            .nodeLabel('title')
            .linkSource('source')
            .linkTarget('target')
            .d3AlphaDecay(0.10)
            .width(width)
            .height(height)
            .linkDirectionalArrowLength(2)
            .linkDirectionalArrowRelPos(0.5)
            .nodeCanvasObject((node, ctx) => {
                const numberOfLinks = (node.outBound && node.outBound.length) || 2;
                    const numberOfNeighbours = (node.neighbors && node.neighbors.length) || 2;
                    const nodeR = Math.min(7, Math.max((numberOfLinks + numberOfNeighbours) / 2, 2));
                    ctx.beginPath();
                    ctx.arc(node.x, node.y, nodeR, 0, 2 * Math.PI, false);
                    ctx.fillStyle = getCssVar("--text-accent");
                    ctx.fill();

                    const label = htmlDecode(node.title)
                    const fontSize = 3.5;
                    ctx.font = `${fontSize}px Sans-Serif`;

                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'top';
                    ctx.fillText(label, node.x, node.y + nodeR + 2);
                })
                
            .linkColor(() => getCssVar("--text-muted") || getCssVar("--text-normal"))
            .onNodeClick(node => {
                    window.location = node.url;
                });
                setTimeout(() => {
                    Graph.zoomToFit(5, 75);
                }, delay);
        return Graph;
    }

    function fetchGraphData() {
        fetch('/graph').then(res => res.json()).then(data => {
            window.graphData = data;
            Graph = renderGraph(filterToDepth(JSON.parse(JSON.stringify(data))), "link-graph", 330, 330);
        });
    }

    fetchGraphData();
        window.document.getElementById('graph-depth').value = window.maxGraphDepth;
        window.document.getElementById('depth-display').innerText = window.maxGraphDepth;
        window.document.getElementById('graph-depth').addEventListener('input', (evt) => {
            
        window.maxGraphDepth = evt.target.value;
        window.document.getElementById('depth-display').innerText = window.maxGraphDepth;
        if (Graph != null) {
            Graph._destructor();
            Graph = null;
        }
        renderGraph(filterToDepth(JSON.parse(JSON.stringify(window.graphData))), "link-graph", 330, 330, 1);
    })

    window.fullGraph = null;
    function renderFullGraph() {
        if (!window.fullGraph) {
            const graphData = {
                links: JSON.parse(JSON.stringify(window.graphData.links)),
                nodes: [...Object.values(window.graphData.nodes)]
            }
            
            let g = document.createElement('div');
            g.id = 'full-graph';
            g.classList.add('show');
            document.body.appendChild(g);
            g.innerHTML = '<i class="fa fa-times" id="full-graph-close" aria-hidden="true"></i><div id="full-graph-container"></div>';
            window.fullGraph = renderGraph(graphData, "full-graph-container", g.offsetWidth, g.offsetHeight, 200);
            document.getElementById('full-graph-close').addEventListener('click', (evt) => {
                g.classList.remove('show');
                window.fullGraph._destructor();
                window.fullGraph = null;
                document.getElementById('full-graph').remove()
            });
        }
        
    }

    document.getElementById('graph-full-btn').addEventListener('click', (evt) => {
        if (!fullGraph) {
            renderFullGraph();
        }
    });
</script>