<nav class="navbar">
    <div class="navbar-inner">
    <a href="/" style="text-decoration: none;">
        <h1>{{meta.siteName}}</h1>
    </a>
    </div>
    {% if settings.dgEnableSearch === true%}
        {% include "components/searchButton.njk" %}
    {%endif%}
</nav>