<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        <input type="search" id="term" placeholder="Введіт запит тут">
        <div id="search-results"></div>
        <footer class="search-box-footer">
            <div class="navigation-hint">
                <span>Тисніть "Ввід" для пошуку</span>
            </div>

            <div class="navigation-hint align-icon">
                <i  icon-name="arrow-up" aria-hidden="true"></i>
                <i  icon-name="arrow-down" aria-hidden="true"></i>
                <span> для навігації</span>
            </div>

            <div class="navigation-hint">
                <span>ESC  для виходу</span>
            </div>

        </footer>
    </div>
</div>
{%include "components/searchScript.njk"%}