<div class="search-container" id="globalsearch" onclick="toggleSearch()">
    <div class="search-box">
        <input type="search" id="term" placeholder="{{ meta.uiStrings.searchPlaceholder }}">
        <div id="search-results"></div>
        <footer class="search-box-footer">
            <div class="navigation-hint">
                <span>{{ meta.uiStrings.searchEnterHint }}</span>
            </div>

            <div class="navigation-hint align-icon">
                <i  data-lucide="arrow-up" aria-hidden="true"></i>
                <i  data-lucide="arrow-down" aria-hidden="true"></i>
                <span>{{ meta.uiStrings.searchNavigateHint }}</span>
            </div>

            <div class="navigation-hint">
                <span>{{ meta.uiStrings.searchCloseHint }}</span>
            </div>

        </footer>
    </div>
</div>
{%include "components/searchScript.njk"%}