<div class="search-button" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
        <span>Search</span>
        <div style="font-size: 0.6rem; margin:0 10px 0 12px; text-align:center;" class="search-keys">
            CTRL + K
        </div>
</div>
