<script src=" https://fastly.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js "></script>
<script defer>
    TIMESTAMP_FORMAT = "{{meta.timestampSettings.timestampFormat}}";
    document.querySelectorAll('.human-date').forEach(function (el) {
        el.innerHTML = luxon.DateTime.fromISO(el.getAttribute('data-date') || el.innerText).toFormat(TIMESTAMP_FORMAT);
      });
</script>