body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

  overflow-x: hidden;
   --note-icon-1: url(/img/灯塔灰.svg);
  --note-icon-2: url(/img/树苗8-1.svg);
  --note-icon-3: url(/img/树苗7-1.svg);
  --note-icon-4: url(/img/树苗6-1.svg);
  --note-icon-fallback: url(/img/树苗5-1.svg); // 默认的图标
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);

}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon]::before,
body.filetree-note-icon .filename[data-note-icon]::before,
body.links-note-icon .internal-link[data-note-icon]::before,
body.backlinks-note-icon .backlink[data-note-icon]::before {
  content: " ";
  display: inline-block;
  width: 0.9em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: var(--note-icon-fallback);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="1"]::before,
body.filetree-note-icon .filename[data-note-icon="1"]::before,
body.links-note-icon .internal-link[data-note-icon="1"]::before,
body.backlinks-note-icon .backlink[data-note-icon="1"]::before {
  background-image: var(--note-icon-1);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="2"]::before,
body.filetree-note-icon .filename[data-note-icon="2"]::before,
body.links-note-icon .internal-link[data-note-icon="2"]::before,
body.backlinks-note-icon .backlink[data-note-icon="2"]::before {
  background-image: var(--note-icon-2);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="3"]::before,
body.filetree-note-icon .filename[data-note-icon="3"]::before,
body.links-note-icon .internal-link[data-note-icon="3"]::before,
body.backlinks-note-icon .backlink[data-note-icon="3"]::before {
  background-image: var(--note-icon-3);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="4"]::before,
body.filetree-note-icon .filename[data-note-icon="4"]::before,
body.links-note-icon .internal-link[data-note-icon="4"]::before,
body.backlinks-note-icon .backlink[data-note-icon="4"]::before {
  background-image: var(--note-icon-4);
}
