/* flow-circular-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Flow Circular";
  font-style: normal;
  font-weight: 400;
  src: url("/styles/fonts/flow-circular-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/styles/fonts/flow-circular-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/styles/fonts/flow-circular-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/styles/fonts/flow-circular-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("/styles/fonts/flow-circular-v7-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("/styles/fonts/flow-circular-v7-latin-regular.svg#FlowCircular")
      format("svg"); /* Legacy iOS */
}
