/***
* DO NOT ADD/MODIFY STYLING HERE. IT WILL BE OVERWRITTEN IF YOU UPDATE THE TEMPLATE VERSION.
* MODIFY THE custom-style.scss FILE INSTEAD.
***/

.content {
    max-width: 900px;
    margin: auto;
    font-size: 22px;
    line-height: 1.5;
    color: white;
}

h1 {
    color: #FFEF60;
}

h2 {
    color: #F06449;
}

h3 {
    color: #D4FCC3;
}

h4 {
    color: #72DCFF;
}

.mermaid svg {
    background: white;
    border-radius: 25px;
    padding: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.theme-dark {
    background: rgb(32, 31, 31);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.theme-light {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: underline;
    color: rgb(97, 186, 245);
}

.font-bg {
    font-size: 92px;
}

blockquote {
    background: #ffffff17;
    border-left: 10px solid #C1DBE3;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.external-link::after {
    content: '🔗';
    position: absolute;
    top: -4px;
    right: -7px;
    font-size: 12px;
}

.external-link {
    padding-right: 10px;
    position: relative;
}

div.translusion {
    border-left: 4px solid gray;
    padding-left: 10px;
}

.admonition-title {
    position: absolute;
    top: 16px;
    left: 55px;
    font-size: 1.4rem;
}

div[class*="language-ad-"]::before {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

code[class*="language-ad-"] {
    font-family: 'Roboto', sans-serif;
    white-space: normal !important;
}

div[class*="language-ad-"] {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    border-radius: 6px;
    color: rgb(230, 230, 230);
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    outline-color: rgb(230, 230, 230);
    padding: 1rem;
    position: relative;
    transition: height .5s ease-in, opacity .5s ease-in;
    word-break: break-word;
    white-space: normal !important;
}

div.language-ad-note::before {
    content: "🖊️";
}

div.language-ad-tip::before {
    content: "💡";
}

div.language-ad-warning::before {
    content: "⚠️";
}

div.language-ad-important::before {
    content: "❗️";
}

div.language-ad-caution::before {
    content: "⚠️";
}

div.language-ad-info::before {
    content: "ℹ";
}

div.language-ad-example::before {
    content: "🗒️";
}

div.language-ad-seealso::before {
    content: "🖊️";
}

div.language-ad-abstract::before {
    content: '📚'
}

div.language-ad-summary::before {
    content: '📚'
}

div.language-ad-tldr::before {
    content: '📚'
}

div.language-ad-todo::before {
    content: '☑️'
}

div.language-ad-hint::before {
    content: '🔥'
}

div.language-ad-success::before {
    content: ✅
}

div.language-ad-check::before {
    content: '✅'
}

div.language-ad-done::before {
    content: '✅'
}

div.language-ad-question::before {
    content: '❓'
}

div.language-ad-help::before {
    content: '❓'
}

div.language-ad-faq::before {
    content: '❓'
}

div.language-ad-attention::before {
    content: '⚠️'
}

div.language-ad-failure::before {
    content: '❌'
}

div.language-ad-fail::before {
    content: '❌'
}

div.language-ad-missing::before {
    content: '❌'
}

div.language-ad-danger::before {
    content: '⚡'
}

div.language-ad-error::before {
    content: '⚡'
}

div.language-ad-bug::before {
    content: '🐞'
}

div.language-ad-quote::before {
    content: '💬'
}

div.language-ad-cite::before {
    content: '💬'
}

div.language-ad-note {
    background-color: rgba(68, 138, 255, .1)
}

div.language-ad-seealso {
    background-color: rgba(68, 138, 255, .1)
}

div.language-ad-abstract {
    background-color: rgba(0, 176, 255, .1)
}

div.language-ad-summary {
    background-color: rgba(0, 176, 255, .1)
}

div.language-ad-tldr {
    background-color: rgba(0, 176, 255, .1)
}

div.language-ad-info {
    background-color: rgba(0, 184, 212, .1)
}

div.language-ad-todo {
    background-color: rgba(0, 184, 212, .1)
}

div.language-ad-tip {
    background-color: rgba(0, 191, 165, .1)
}

div.language-ad-hint {
    background-color: rgba(0, 191, 165, .1)
}

div.language-ad-important {
    background-color: rgba(0, 191, 165, .1)
}

div.language-ad-success {
    background-color: rgba(0, 200, 83, .1)
}

div.language-ad-check {
    background-color: rgba(0, 200, 83, .1)
}

div.language-ad-done {
    background-color: rgba(0, 200, 83, .1)
}

div.language-ad-question {
    background-color: rgba(100, 221, 23, .1)
}

div.language-ad-help {
    background-color: rgba(100, 221, 23, .1)
}

div.language-ad-faq {
    background-color: rgba(100, 221, 23, .1)
}

div.language-ad-warning {
    background-color: rgba(255, 145, 0, .1)
}

div.language-ad-caution {
    background-color: rgba(255, 145, 0, .1)
}

div.language-ad-attention {
    background-color: rgba(255, 145, 0, .1)
}

div.language-ad-failure {
    background-color: rgba(255, 82, 82, .1)
}

div.language-ad-fail {
    background-color: rgba(255, 82, 82, .1)
}

div.language-ad-missing {
    background-color: rgba(255, 82, 82, .1)
}

div.language-ad-danger {
    background-color: rgba(255, 23, 68, .1)
}

div.language-ad-error {
    background-color: rgba(255, 23, 68, .1)
}

div.language-ad-bug {
    background-color: rgba(245, 0, 87, .1)
}

div.language-ad-example {
    background-color: rgba(124, 77, 255, .1)
}

div.language-ad-quote {
    background-color: rgba(158, 158, 158, .1)
}

div.language-ad-cite {
    background-color: rgba(158, 158, 158, .1)
}