<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ collections.gardenEntry[0].fileSlug }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    {%include "components/notegrowthhistory.njk"%}
    <div class="content">
      {%- for garden in collections.gardenEntry -%}
        {{garden.templateContent | safe }}
      {%- endfor -%}
    </div>
  </body>
</html>
