---
title: "Search"
permalink: "search/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ collections.gardenEntry[0].fileSlug }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    <div class="content cm-s-obsidian">
      {% if dgHomeLink !== false%}
        <a href="/">🏡 Back Home</a>
      {% endif %}
      <h1>Search</h1>
      <p>
        <label for="term">Type search query</label>
        <br/>
        <input type="search" id="term" placeholder="Start typing...">  
      </p>

      <div id="results"></div>


      <script>
        document.addEventListener('DOMContentLoaded', init, false);
        function debounce(func, timeout = 500){
          let timer;
          return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
          };
        }
        async function init() {
          field = document.querySelector('#term');
          field.addEventListener('keydown', debounce(() => search()));
          resultsDiv = document.querySelector('#results');
          
          const params = new URL(location.href).searchParams;
          if (params.get('q')) {
            field.setAttribute('value', params.get('q'));
            search();
          }
        }
        async function search() {
          let search = field.value.trim();
          if(!search) return;
          console.log(`search for ${search}`);
          let searchRequest = await fetch(`/api/search?term=${encodeURIComponent(search)}`);
          let results = await searchRequest.json();
          let resultsHTML = '<p><strong>Search Results</strong></p>';
          if(!results.length) {
            resultsHTML += '<p>Sorry, there were no results.</p>';
            resultsDiv.innerHTML = resultsHTML;
            return;
          }
          resultsHTML += '<ul>';
          // we need to add title, url from ref
          results.forEach(r => {
            resultsHTML += `<li><a href="${r.url}">${ r.title }</a>&nbsp;<span>${r.content}</span></li>`;
          });
          resultsHTML += '</ul>';
          resultsDiv.innerHTML = resultsHTML;
        }
      </script>
    </div>
    </body>
  </html>

