---
layout: layouts/versionednote.njk
tags: versionednote
pagination:
    data: versionednotes
    size: 1
    alias: item
    addAllPagesToCollections: true
permalink: versionednotes/{{item.title}}/{{item.sha}}/index.html
---